<div class="container">
  <div class="control-panel">
    <div style="color: white">Current hotkey: {{GLOBAL_HOTKEY.key}}</div>

    <button class="change-hotkey-button" (click)="changeHotkey()">{{buttonText}}</button>
    <button class="change-hotkey-button" (click)="changeHotkey(true)">Apply default</button>

  </div>
<!--  [isOpen] option can be used also-->
  <div class="block"
       [tooltip]="IMAGE_TOOLTIP"
       [position]="TooltipPosition.LEFT"
       [hotkeys]="[TooltipHotkey.BACK_SLASH, TooltipHotkey.ALT, TooltipHotkey.META]"
  ></div>

  <div class="block"
       [tooltip]="IMAGE_TOOLTIP"
       [position]="TooltipPosition.ABOVE"
       [hotkeys]="[TooltipHotkey.BACK_SLASH, TooltipHotkey.ALT, TooltipHotkey.META]"
  ></div>
  <div class="block"
       [tooltip]="IMAGE_TOOLTIP"
       [position]="TooltipPosition.BELOW"
       [hotkeys]="[TooltipHotkey.BACK_SLASH, TooltipHotkey.ALT, TooltipHotkey.META, TooltipHotkey.SLASH, TooltipHotkey.CONTROL]"
  ></div>
  <div class="block"
       [tooltip]="IMAGE_TOOLTIP"
       [position]="TooltipPosition.RIGHT"
       [hotkeys]="[TooltipHotkey.META]"
  ></div>
  <div class="block"
       [tooltip]="SIMPLE_TOOLTIP"
       [position]="TooltipPosition.ABOVE"
       [hotkeys]="[TooltipHotkey.META, TooltipHotkey.META, TooltipHotkey.META, TooltipHotkey.META, TooltipHotkey.META]"
  ></div>
</div>

