<div class="container">
  <div class="block"
       [tooltip]="IMAGE_TOOLTIP"
       [position]="TooltipPosition.LEFT"
       [hotkeys]="[TooltipHotkey.BACK_SLASH, TooltipHotkey.ALT, TooltipHotkey.META]"
  ></div><div class="block"
       [tooltip]="IMAGE_TOOLTIP"
       [position]="TooltipPosition.ABOVE"
       [hotkeys]="[TooltipHotkey.BACK_SLASH, TooltipHotkey.ALT, TooltipHotkey.META]"
  ></div>
  <div class="block"
       [tooltip]="IMAGE_TOOLTIP"
       [position]="TooltipPosition.BELOW"
       [hotkeys]="[TooltipHotkey.BACK_SLASH, TooltipHotkey.ALT, TooltipHotkey.META, TooltipHotkey.SLASH, TooltipHotkey.CONTROL]"
  ></div>
  <div class="block"
       [tooltip]="IMAGE_TOOLTIP"
       [position]="TooltipPosition.RIGHT"
       [hotkeys]="[TooltipHotkey.META]"
  ></div>
  <div class="block"
       [tooltip]="SIMPLE_TOOLTIP"
       [position]="TooltipPosition.ABOVE"
       [hotkeys]="[TooltipHotkey.META, TooltipHotkey.META, TooltipHotkey.META, TooltipHotkey.META, TooltipHotkey.META]"
  ></div>
</div>

